/*
|----------------------------------------------------------------------------
| 3. HOME
|----------------------------------------------------------------------------
*/
.home {
	padding-bottom: 170px;

	.section-title {
		text-transform: uppercase;
		color: #fff;
		text-align: center;
	}

	.section-sub-title {
		font-size: 1.385rem;
		padding: 0 60px 20px 60px;
	}

	.section-title {
		font-weight: 700;
	}
}

.image-bg {
	background: url(../images/home-bg.png) repeat center -25px;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-ms-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
