.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-whatsapp {
	width: 3.380859375em;
}
#icon-whatsapp .path1 {
	fill: #272525;
}
#icon-whatsapp .path2, #icon-whatsapp .path4 {
	fill: #fefefe;
}
#icon-whatsapp .path3 {
	fill: #000;
}

.icon-facebook {
	width: 2.654296875em;
}
#icon-facebook .path1 {
	fill: #26559a;
}
#icon-facebook .path2 {
	fill: #fff;
}

#icon-facebook_Messenger .path1 {
	fill: #0084ff;
}
#icon-facebook_Messenger .path2 {
	fill: #fff;
}
#icon-facebook_Messenger .path3 {
	fill: #00b4ff;
}
#icon-facebook_Messenger .path4 {
	fill: rgba(0, 0, 0, 0.102);
}

.icon-kik {
	width: 2em;
}
#icon-kik .path1 {
	fill: #3db4e7;
}
#icon-kik .path2, #icon-kik .path3, #icon-kik .path4, #icon-kik .path5, #icon-kik .path6, #icon-kik .path7 {
	fill: #82bc23;
}

.icon-microsoft {
	width: 4.68359375em;
}
#icon-microsoft .path1 {
	fill: #706d6e;
}
#icon-microsoft .path2 {
	fill: #f1511b;
}
#icon-microsoft .path3 {
	fill: #80cc28;
}
#icon-microsoft .path4 {
	fill: #00adef;
}
#icon-microsoft .path5 {
	fill: #fbbc09;
}

.icon-skype {
	width: 0.9853515625em;
}
#icon-skype .path1 {
	fill: #fff;
}
#icon-skype .path2 {
	fill: #00aff0;
}

.icon-slack {
	width: 3.337890625em;
}
#icon-slack .path1 {
	fill: #443642;
}
#icon-slack .path2 {
	fill: #70cadb;
}
#icon-slack .path3 {
	fill: #e01765;
}
#icon-slack .path4 {
	fill: #e8a723;
}
#icon-slack .path5 {
	fill: #3eb890;
}
#icon-slack .path6 {
	fill: #cc2027;
}
#icon-slack .path7 {
	fill: #361238;
}
#icon-slack .path8 {
	fill: #65863a;
}
#icon-slack .path9 {
	fill: #1a937d;
}

#icon-sms .path1, #icon-sms .path2, #icon-sms .path3, #icon-sms .path4, #icon-sms .path5, #icon-sms .path6, #icon-sms .path7, #icon-sms .path8, #icon-sms .path9, #icon-sms .path10, #icon-sms .path11, #icon-sms .path12, #icon-sms .path13, #icon-sms .path14, #icon-sms .path15 {
	fill: #2c4a7c;
}

#icon-telegram .path1 {
	fill: #64a9dc;
}
#icon-telegram .path2 {
	fill: #fff;
}

#icon-twilio .path1, #icon-twilio .path2 {
	fill: #cf272d;
}

.icon-twitter {
	width: 5.33203125em;
}
#icon-twitter .path1, #icon-twitter .path2, #icon-twitter .path3, #icon-twitter .path4, #icon-twitter .path5, #icon-twitter .path6, #icon-twitter .path7, #icon-twitter .path9 {
	fill: #000;
}
#icon-twitter .path8 {
	fill: #00acec;
}

.icon-wechat-3 {
	width: 3.5380859375em;
}
#icon-wechat-3 .path1, #icon-wechat-3 .path3, #icon-wechat-3 .path5, #icon-wechat-3 .path7 {
	fill: #2e3233;
}
#icon-wechat-3 .path2, #icon-wechat-3 .path4, #icon-wechat-3 .path6 {
	fill: #9de60b;
}
